#container #dot_btn {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;

}

#container #dot_btn ul li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #bab9b9;
	border-radius: 50%;
}

#container #dot_btn ul li:hover {
	cursor: pointer;
}