html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: calc(48px * 5 + 5px * 10);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 10px;
    position: relative;
}

.calculator .result,
.calculator .wrapper {
    display: flex;
    position: relative;
}

.calculator .result {
    flex: 0 0 auto;
    height: 54px;
    flex-direction: row;
    padding: 0 10px 10px 10px;
}

.calculator .result>a {
    position: absolute;
    right: 20px;
    top: 19px;
    font-size: 16px;
    line-height: 16px;
    color: #999;
    text-decoration: none;
}

.calculator .result>a:hover {
    color: #666;
}

.calculator .result>.result-text {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
}

.calculator .wrapper {
    flex: 1 1 auto;
}

.calculator .history {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #333;
    color: #fff;
}

.calculator .history .item {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-top: 1px solid #666;

    cursor: pointer;
}

.calculator .history .item:last-child {
    border-bottom: 1px solid #666;
}

.calculator .history .close {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    text-align: right;
}

.calculator .history .close>a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.calculator .nums,
.calculator .operators {
    display: flex;
    flex-wrap: wrap;
}

.calculator .nums {
    flex: 1 1 auto;
    width: calc(48px * 3 + 5px * 6);
}

.calculator .operators {
    flex: 0 0 auto;
    width: calc(48px * 2 + 5px * 4);
}

button.num,
button.operator {
    width: 48px;
    height: 48px;
    margin: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 550;
    border: 1px solid #ccc;
    user-select: none;
}

button.num:focus,
button.operator:focus {
    outline: none;
}

button.num:hover,
button.operator:hover {
    background: #ccc;
}

button.operator.equal {
    width: 106px;
}